<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Crypto Dashboard</title>
</head>
<body>
    <div style="display: flex; justify-content: center;flex-direction: column; align-items: center;">
        <form style="display: flex; flex-direction: column; width: 400px;" method="POST" action="/users/symbol/add">
            <input action="text" name="symbol" placeholder="crypto token">
            <button class ="btn" style="border-radius: 100px;">Add</button>
        </form>
        <br/>
        <h1 style="font-size: 24px; font-weight: 600;">Symbol Value</h1>
        <ul style="list-style: none;">
            <% userSymbols.forEach(userSymbols=>{%>
                
                <li><%= userSymbols.symbol %></li>
                <%}) %>

        </ul>
    </div>

    
</body>
</html>